.button {
  background-color: #74B0A6;
  border: none;
  color: white;
  height: 32px;
  width: 128px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;
}

.header {
    .logo {
      width: 128px;
      height: 64px;
      object-fit: cover;
      margin-top: 30px;
      margin-left: 30px;
    }
  }

.rectangle{
  background-color: #EAF6F5;
  height: 100vh;
  min-height: 720px;
  display: flex;
  flex-direction: column;

  .welcome {
    margin-top: 200px;
    margin-bottom: 20px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #263238;
  }

  .uname {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.624px;
  }

  .psw {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: -10px;
    text-align: center;
    letter-spacing: 0.624px;
  }
  .forget {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.624px;
  }

  .login {
    text-align: center;
  }
}

body {
  font-family: Helvetica Neue;
  margin:0;
}
